[Unit]
Description=Network for SAS-1
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-sbc.device
After=sys-subsystem-net-devices-sbc.device

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/conf.d/network
ExecStart=/sbin/ip link set dev enp1s0 up
ExecStart=/sbin/ip addr add ${IP_SAS1}/24 dev enp1s0 
ExecStart=/sbin/ip route add default via $IP_SAS1_GATEWAY

ExecStop=/sbin/ip addr flush dev enp1s0
ExecStop=/sbin/ip link set dev enp1s0 down

[Install]
WantedBy=multi-user.target